html * {
    margin: 0;
}

body {
    background: #ddd;
    color: #333;
    font: 11pt verdana, arial, helvetica, sans-serif;
}

table.gameboard {
    border: 1px solid black;
    width: 100%;
    height: 200px;
}

.cellHover {
    border: 1px solid black;
    background-color: green;
    color: white;
}

.player0Position {
    background-color: crimson;
    color: white;
}

.player1Position {
    background-color: blue;
    color: white;
}

.gameboard td {
    padding: 4pt;
    text-align: center;
    vertical-align: middle;
}

.normalGameboardCell {
    border: 1px solid black;
}

.player0Shot {
    border: 1px crimson dashed;
    color: crimson;
}

.player1Shot {
    border: 1px blue dashed;
    color: blue;
}

.summary {
    text-align: left;
}

.summaryPlayer0, div.summaryPlayer0 a:visited, div.summaryPlayer0 a {
    color: crimson;
}

.summaryPlayer1, div.summaryPlayer1 a:visited, div.summaryPlayer1 a {
    color: blue;
}

.boardContainer {
    width: 70%;
    float: left;
}

.playersContainer {
    width: 20%;
    float: right;
    margin: 10px;
}

.waitingPlayer {
    font: x-large;
    color: red;
}
