html * {
    margin: 0;
}

body {
    background: #ddd;
    color: #333;
    font: 11pt verdana, arial, helvetica, sans-serif;
}

table.gameboard {
    border: 1px solid black;
    width: 100%;
    height: 200px;
}

.cellHover {
    border: 1px solid black;
    background-color: green;
    color: white;
}

.playerAPosition {
    background-color: crimson;
    color: white;
}

.playerBPosition {
    background-color: blue;
    color: white;
}

.gameboard td {
    padding: 4pt;
    text-align: center;
    vertical-align: middle;
}

.normalGameboardCell {
    border: 1px solid black;
}

.playerAShot {
    border: 1px crimson dashed;
    color: crimson;
}

.playerBShot {
    border: 1px blue dashed;
    color: blue;
}

.summary {
    text-align: left;
}

.summaryPlayerA, div.summaryPlayerA a:visited, div.summaryPlayerA a {
    color: crimson;
}

.summaryPlayerB, div.summaryPlayerB a:visited, div.summaryPlayerB a {
    color: blue;
}

.boardContainer {
    width: 70%;
    float: left;
}

.playersContainer {
    width: 20%;
    float: right;
    margin: 10px;
}

.waitingPlayer {
    font: x-large;
    color: red;
}
